@CHARSET "UTF-8";

h1{
	color:black;
	text-align:center;
	padding-top:50px
}

h2{
	color:black;
	text-align:center
}

table{
	border-spacing:10px;
}
div#button{
	background-color: transparent;
}

div#proposedlist{
	width: 95%;
	background-color: transparent;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 18px;
}

div#list{
	width: 90%;
	background-color: transparent;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 18px;
}
div#list:hover{
	width: 98%;
	background-color: transparent);
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 18px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: unone;
}

a:active {
    text-decoration: none;
}

div{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(235,235,235,0.7);
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 18px;
}

button{
	border-radius: 8px;
	font-size: 24px;
}


body {
	height: 700px;
	background: url('http://localhost/cas_montana/background.jpg') no-repeat !important;
	background-position: center;
}
